{% load allauth %} 
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}CodeVault{% endblock head_title %}</title>
    {% include 'base/css.html' %}
</head>
<body>

    <!-- Messages -->
    {% include 'base/messages.html' %}

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Content will be injected here -->
        {% endblock content %}
    </main>

    <!-- Footer (if any) -->

    <!-- JavaScript -->
    {% include 'base/js.html' %}
</body>
</html>